# Grafana Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: observability
  labels:
    app: grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      securityContext:
        fsGroup: 472
      containers:
        - name: grafana
          image: docker.io/grafana/grafana:10.2.0
          ports:
            - containerPort: 3000
          env:
            - name: GF_SECURITY_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: grafana-credentials
                  key: admin-password
          volumeMounts:
            - name: config
              mountPath: /etc/grafana/grafana.ini
              subPath: grafana.ini
            - name: config
              mountPath: /etc/grafana/provisioning/datasources/datasources.yaml
              subPath: datasources.yaml
            - name: config
              mountPath: /etc/grafana/provisioning/dashboards/dashboards.yaml
              subPath: dashboards.yaml
            - name: dashboards-cadvisor
              mountPath: /var/lib/grafana/dashboards/cadvisor
            - name: dashboards-k8s-global
              mountPath: /var/lib/grafana/dashboards/k8s-global
            - name: dashboards-k8s-namespaces
              mountPath: /var/lib/grafana/dashboards/k8s-namespaces
            - name: dashboards-k8s-nodes
              mountPath: /var/lib/grafana/dashboards/k8s-nodes
            - name: dashboards-k8s-pods
              mountPath: /var/lib/grafana/dashboards/k8s-pods
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
      volumes:
        - name: config
          configMap:
            name: grafana-config
        - name: dashboards-cadvisor
          configMap:
            name: grafana-dashboard-cadvisor
        - name: dashboards-k8s-global
          configMap:
            name: grafana-dashboard-k8s-global
        - name: dashboards-k8s-namespaces
          configMap:
            name: grafana-dashboard-k8s-namespaces
        - name: dashboards-k8s-nodes
          configMap:
            name: grafana-dashboard-k8s-nodes
        - name: dashboards-k8s-pods
          configMap:
            name: grafana-dashboard-k8s-pods
---
apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: observability
  labels:
    app: grafana
spec:
  selector:
    app: grafana
  type: NodePort
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30300
